<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Clear.master.cs" Inherits="SinglePageAppWebForms.Clear" %>
    <form id="formInternal" runat="server" enctype="multipart/form-data">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
